.git
.gitignore
.env
.env.*
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.venv
**/node_modules
**/dist
**/coverage
logs
tmp
test
README.md
start-all.ps1
stop-all.ps1
test_upload.py
docker-compose.yml
apps/api/*.db
apps/api/tests
apps/storage/projects/*
!apps/storage/projects/.gitkeep
storage/projects/*
!storage/projects/.gitkeep
